# Vivado project files and caches
*.jou
*.log
*.str
*.zip
*.gz
*.tmp
*.rpt
*.rpx
*.dcp
*.pb
*.psm
*.xml
*.html
*.xpe
*.xdef

# Vivado-generated directories
.cache/
.hw/
.ip_user_files/
.sim/
.srcs/
.Xil/
.gen/
.runs/
.tcl.auto/
.webtalk/

# Simulation output
*.vcd
*.wdb
*.saif
*.fsdb
*.vstf

# Checkpoints and build outputs
*.bit
*.bin
*.mmi
*.prm
*.pdi
*.elf
*.mem
*.hdf

# Temporary backup files
*~
*.bak
*.tmp
*.backup
*.old

# OS-specific files
.DS_Store
Thumbs.db

# img files
*.img
